<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification Failed</title>
    <link rel="stylesheet" href="<%= serverUrl %>/styles.css" />
    <link rel="icon" href="<%= serverUrl %>/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <h1>Verification Failed</h1>
      <img src="<%= serverUrl %>/images/cross.png" alt="cross" class="icon" />
      <p>
        The email verification link is invalid or expired. Please check your
        email and use the provided link.
      </p>
    </div>
  </body>
</html>
