<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification Success</title>
    <link rel="stylesheet" href="<%= serverUrl %>/styles.css" />
    <link rel="icon" href="<%= serverUrl %>/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <h1>Email has been verified</h1>
      <img src="<%= serverUrl %>/images/check.png" alt="check" class="icon" />
      <p>You can now proceed in the app</p>
    </div>
  </body>
</html>
